#main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    width: auto;
}

.sidebar h1 {
    margin-left: 40px;
    margin-right: 40px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    text-align: center;
    justify-content: center;
}

#home h1 {
    font-size: 32px;
}
